<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}
    <link rel="stylesheet" href="{{ 'bundle.min.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'swiper-bundle.8.1.4.min.css' | asset_url }}" />

    {{ content_for_header }}
  </head>

  <body>
    <main role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% if customer %}
    	{{ customer.email }}
    	{{ customer.first_name }}
    	{{ customer.last_name }}
    {% else %}
        {% assign secret = '7a2af2892bee1dfe3105691cb10fe308' | hmac_sha256 %}
    	{{ secret }}
        {% assign timestamp = 'now' | date: '%Y-%m-%dT%X +03:00'%}

        {% capture json %}
            {"email": "bavonij396@akapple.com", "first_name": "Bob", "last_name": "Bobsen", "created_at": "{{ timestamp }}"}
        {% endcapture %}
        {% assign shaed = json | sha256 %}
        {% assign signed = shaed | hmac_sha256: secret %}
        <script>

//             window.location.href = 'https://devwhodevs.myshopify.com/account/login/multipass/{{ signed | base64_url_safe_encode }}'
        </script>
    {% endif %}
    <script defer src="{{ 'swiper-bundle.8.1.4.min.js' | asset_url }}"></script>
    <script defer src="{{ 'swiper.js' | asset_url }}"></script>
    <script defer src="{{ 'main.js' | asset_url }}"></script>
    <script defer src="{{ 'alpine.3.10.2.min.js' | asset_url }}"></script>
  </body>
</html>
